// .thanks-state{
//     display: none;
// }

.default-state{
    display: none !important;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    &__content{
        max-width: 300px;
        background: var(--Dark-Blue);
        background: linear-gradient(180deg, var(--Dark-Blue) 60%, var(--Very-Dark-Blue) 90%);
        border-radius: 20px;
        padding: 25px;
        font-family: var(--font-1);
        display: grid;
        grid-gap: 25px;
        
        img{
            &.default-state{
                padding: 15px;
                background: var(--Medium-Grey-transp);
                border-radius: 30px;
            }

            &.thanks-state {
                justify-self: center;
            }
        }
    
        h2{
            color: white;
            font-size: 23px;
            font-weight: 700;

            &.thanks-state {
                text-align: center;
            }
        }
    
        .selected-number {
            text-align: center;
            color: var(--Orange);
            padding: 5px 10px;
            background-color: var(--Medium-Grey-transp);
            width: 70%;
            justify-self: center;
            border-radius: 20px;
        }

        p{
            color: var(--Light-Grey);
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;

            &.thanks-state {
                text-align: center;
            }
        }
    
        .rating{
            display: flex;
            justify-content: space-between;
            li{
                background: var(--Medium-Grey-transp);
                border-radius: 84px;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--Light-Grey);
                font-weight: 700;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover{
                    background-color: var(--Orange);
                    color: var(--Dark-Blue);
                }
            }
        }

        .submit {
            background: var(--Orange);
            border: none;
            padding: 10px;
            border-radius: 20px;
            color: white;
            font-weight: 700;
            letter-spacing: 10px;
            font-size: 13px;
            font-family: var(--font-1);
            transition: 0.3s ease-in-out;

            &:hover{
                background-color: #ff9041;
            }
        }
    }
}